#one {
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

#two {
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

#three {
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
}